{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div style="overflow: hidden;">
    <div class="container">
      <div class="row">
        <!-- Left side -->
        <div class="col-md-4 col-lg-3 col-xl-3 col-xxl-3">
          {% include 'includes/menu.html' %}
        </div>
        <!-- Right side -->
        <div class="col-md-8 col-lg-9 col-xl-9 col-xxl-9">
          {% block sub-content %}{% endblock sub-content %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Confirm -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Notification</h5>
        </div>
        <div class="modal-body">
          <div id="confirm-modal-content">
            confirm-modal-content
          </div>
        </div>
        <div class="modal-footer">
          <div class="flex w-100">
            <div class="form-check mb-0">
              <input class="form-check-input" type="checkbox" value="" id="confirm-checkbox" style="margin-top: 0.3em;">
              <label class="form-check-label text-info" for="confirmCheckbox" id="confirm-checkbox-label">
                I'm sure
              </label>
            </div>
            <div>
              <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-2" id="btn-confirm-modal">
                <i class="fas fa-check text-success"></i>Confirm
              </a>
              <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block modal %}{% endblock modal %}

  <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 11">
    <div id="toast-success" class="toast align-items-center text-white bg-success border-0" role="alert"
         aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
      <div class="d-flex">
        <div class="toast-body" id="toast-success-content">
          Content
        </div>
        <button type="button" class="btn-close btn-close-white me-3 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
    </div>
  </div>
  
  <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 11">
    <div id="toast-error" class="toast align-items-center text-white bg-danger border-0" role="alert"
         aria-live="assertive" aria-atomic="true" data-bs-delay="8000">
      <div class="d-flex">
        <div class="toast-body" id="toast-error-content">
          Content
        </div>
        <button type="button" class="btn-close btn-close-white me-3 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
    </div>
  </div>

  {% block toast %}{% endblock toast %}

{% endblock content %}
